.vs/Forum/v17/.suo
*.log
.vs/Forum/v17/.futdcache.v1
.vs/Forum/DesignTimeBuild/.dtbcache.v2
Forum/appsettings.json
*.dll
*.pdb
*.sentinel
*.cache
*.testlog
*.manifest
*.json
Forum.IntegrationTests/bin/Debug/net6.0/Forum.exe
*.config
*.props
*.targets
Forum.IntegrationTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Forum.IntegrationTests/obj/Debug/net6.0/Forum.IntegrationTests.AssemblyInfo.cs
*.BuildWithSkipAnalyzers
Forum.IntegrationTests/obj/Debug/net6.0/Forum.IntegrationTests.csproj.CopyComplete
Forum.IntegrationTests/obj/Debug/net6.0/Forum.IntegrationTests.csproj.FileListAbsolute.txt
*.editorconfig
Forum.UnitTests/obj/Debug/net6.0/Forum.UnitTests.csproj.FileListAbsolute.txt
Forum.UnitTests/obj/Debug/net6.0/Forum.UnitTests.csproj.CopyComplete
Forum.UnitTests/obj/Debug/net6.0/Forum.UnitTests.AssemblyInfo.cs
Forum.UnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Forum.UnitTests/bin/Debug/net6.0/testhost.exe
Forum.IntegrationTests/bin/Debug/net6.0/testhost.exe
Forum.IntegrationTests/bin/Debug/net6.0/CoverletSourceRootsMapping
*.exe
Forum.IntegrationTests/obj/Debug/net6.0/Forum.IntegrationTests.MvcApplicationPartsAssemblyInfo.cs
Forum/obj/Debug/net6.0/Forum.csproj.FileListAbsolute.txt
